body {
    padding-top: 86px; 
}

@media (max-width: 576px) {
    body {
        padding-top: 76px; 
    }
}

@media (max-width: 390px) {
    body {
        padding-top: 56px; 
    }
}

.title {
    background: url('static/augusto.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    margin: auto;
    padding: 260px 0;
    justify-content: center;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 51, 51, 0.6);
}

.title * {
    position: relative;
}

.content p {
    justify-content: safe;
    margin-top: 50px;
    font-variant: normal;
    font-size: 20px;
}

/* Sección de contacto */
.contact {
    background: #222;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.contact a {
    color: #ff9800;
    font-weight: bold;
}

/* Sección de servicios */
.bg-industrial {
    background: url('static/augusto.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    position: relative;
}

.bg-industrial::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 51, 51, 0.6);
}

.bg-industrial * {
    position: relative;
}

.bg-sector {
    background: #b8babb;
    text-align: center;
}

.rounded-start {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rounded-end {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.info {
    height: 400px;
}

/* Sección de por qué elegirnos */
.bg-sectors {
    background-color: #1E3A8A;
    padding: 50px 20px;
    border-radius: 10px;
}

.bg-white {
    background: white;
    border-radius: 10px;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-start {
    border-left: 2px solid #ddd;
}

.border-end {
    border-right: 2px solid #ddd;
}

